.container
  %p Our mission is to provide a novel artistic painting tool that allows everyone to create and share artistic pictures with just a few clicks. All you need to do is upload a photo and choose your favorite style. Our servers will then render your artwork for you.

  %p We apply an <a href="http://arxiv.org/abs/1508.06576">algorithm</a> developed by Leon Gatys, Alexander Ecker and Matthias Bethge. The website was originally created by Łukasz Kidziński and Michał Warchoł. We have now joined forces to provide you with the latest technology in even more accessible way.</p>

  <p>Questions? Email us at <a href="mailto:admin@max-pups.io">admin@max-pups.io</a></p>

  <h2>Our team</h2>
  <p>Five researchers from the University of Tübingen (Germany), École polytechnique fédérale de Lausanne (Switzerland) and Université catholique de Louvain (Belgium).</p>
  <div class="row">
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center"><a href="http://bethgelab.org/"><img src="https://deepart-dev.s3.amazonaws.com/img/team/matthias-200.jpg"><br> Matthias Bethge</a></div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center"><img src="https://deepart-dev.s3.amazonaws.com/img/team/alex-200.jpg"><br> Alexander Ecker</div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center"><img src="https://deepart-dev.s3.amazonaws.com/img/team/leon-200.jpg"><br> Leon Gatys</div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center"><a href="http://kidzinski.com/"><img src="https://deepart-dev.s3.amazonaws.com/img/team/lukasz-200.jpg"><br> Łukasz Kidziński</a></div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center"><a href="http://mwarchol.com/"><img src="https://deepart-dev.s3.amazonaws.com/img/team/michal-200.jpg"><br> Michał Warchoł</a></div>
  </div>

  <h2>Credits</h2>
  <p>Our algorithm uses a neural network based on the <a href="http://www.robots.ox.ac.uk/~vgg/research/very_deep/" target="_blank">19-layer VGG network by Karen Simonyan and Andrew Zisserman</a>.</p>
  <p>University of Tübingen has a pending patent application for the Neural Art technology.</p>

  <h2>Contact</h2>

  <h3>Name and address</h3>
  <p>max-pups UG (haftungsbeschränkt)<br>
  Esslingerstr. 7<br>
  72072 Tübingen, Germany</p>

  <h3>Board of directors</h3>
  <p>Łukasz Kidziński<br>Alexander Ecker</p>

  <h3>Contact</h3>
  <p>admin@max-pups.io<br>
  +49 7071 29 89017</p>

  <h3>Register entry</h3>
  <p>Commercial register Stuttgart, No. HRB 755568</p>

  <h3>VAT identification number</h3>
  <p>Coming soon</p>