#main
  .row
    .col-md-3= image_tag 'orig.JPG', class:'img-responsive'
    .col-md-1.relative
      .vertical +
    .col-md-3= image_tag 'filter.JPG', class:'img-responsive'
    .col-md-1.relative
      .vertical =
    .col-md-3= image_tag 'result.JPG', class:'img-responsive'